.header{
    margin-top: 50px;
}
.header button{
    background-color: rgba(69, 196, 196, 0.8);
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.header button a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.header button:hover{
    background-color: rgba(69, 196, 196, 1);

}
.header img{
    height: 400px;
}